//variables
$green-blue: #004253;
$blue-light: #006c8b;
$green-light: #94bc52;
$green-light2: #e2f792;
$yellow: #ffca05;
$grey-white: #faf9f7;
$white: #ffffff;
$black:  #0c1f25;
$grey: #cccccc;
$grey2: #979494;

// padding

$extra-small: 35px;
$small: 45px;
$medium: 60px;
$large: 80px;
$extra-large: 130px;



