.sheet-top,
.sheet1,
.sheet2 {
    width: 150px;
}

.accommodation2 {
    height: 585px;
}

.block-section {
    small {
        color: $green-blue;
    }
}

.col-2 {
    .img-inner-shape {
        width: 320px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
        position: relative;
        left: -24px;
    }
    .flexslider {
        position: relative;
        margin: 0 auto;
        .sheet1 {
            transform: rotate(-65deg);
            position: absolute;
            top: -22px;
            right: -4px;
        }
        .sheet2 {
            display: none;
            img {
                width: 50%;
            }
        }
        .sheet-left {
            position: absolute;
            right: -8%;
            top: 10%;
        }
    }
    .sheet-top {
        img {
            transform: rotate(-65deg);
            position: absolute;
            top: -25px;
            right: -11px;
        }
    }
    .sheet-text {
        display: none;
        .text {
            line-height: 1;
            display: block;
        }
        span {
            display: block;
        }
    }
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    color: $white;
    border: none !important;
}

.wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        width: 95%;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 5px;
        color: $green-blue;
    }
    label {
        display: inline-block;
        vertical-align: bottom;
        width: 100%;
    }
    input[type=submit] {
        background-color: $yellow;
        margin-top: 10px;
    }
}

.accommodation-form {
    background-color: $green-blue;
    margin-bottom: 150px;
    overflow: hidden;
    .col {
        padding-bottom: 157px;
    }
    .wrapper {
        position: relative;
    }
    h2 {
        color: $white;
    }
    .mask-cover {
        width: 400px;
        bottom: -129px;
        left: 33px;
        transform: translateX(-50%);
        ul {
            position: absolute;
            top: 23%;
            right: 9%;
            transform: translateX(-50%);
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
        }
    }
    .image-shape1,
    .image-shape2,
    .sheet {
        display: none;
    }
    .image-shape1,
    .image-shape2,
    .mask-cover,
    .sheet {
        position: absolute;
    }
}

@include extra-small-devices {
    .col-2 {
        .flexslider {
            .sheet1 {
                top: -32px;
            }
            .sheet2 {
                left: -54px;
                bottom: 104px;
                img {
                    width: 50%;
                }
            }
        }
    }
    .wpcf7-form {
        align-items: normal;
    }
    .section-contact {
        .wpcf7-form {
            width: 76%;
            margin: 0 auto;
        }
    }
}

@include device-576 {
    .col-2 {
        .flexslider {
            .sheet2 {
                display: block;
                position: absolute;
                left: -37px;
                bottom: 58px;
            }
        }
    }
    .contact-form {
        width: 90%;
        .wpcf7-form {
            p {
                margin-bottom: 20px;
            }
        }
    }
    .block-section {
        .text {
            padding: 0 30px;
        }
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            margin: 0;
            max-width: 640px;
            align-self: center;
        }
        .sheet-top {
            top: -44px;
            right: 30px;
            img {
                width: auto !important;
                height: auto !important;
            }
        }
        .sheet-text {
            display: block;
        }
    }
    .sheet-text {
        position: absolute;
        width: 128px;
        height: 128px;
        left: -86px;
        top: 12px;
        span:nth-of-type(2) {
            display: block;
        }
        .text {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 38px !important;
            top: -162px;
            font-weight: normal;
            font-size: 14px;
        }
    }
    .wpcf7-form {
        flex-direction: row;
        p {
            width: 30%;
            margin-right: auto;
            // margin: 15px 10px 15px 0;
        }
    }
    .block-section .text {
        padding: 0;
    }
    .accommodation-form {
        .sheet {
            display: block;
            right: -140px;
            // right: -140px;
            top: -40px;
            width: 227px;
        }
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            .sheet2 {
                left: -38px;
                bottom: 52px;
                img {
                    width: 60%;
                }
            }
            .sheet1 {
                top: -26px;
                right: 12px;
            }
        }
    }
}

@include medium-devices {
    .col-2 {
        .flexslider {
            align-self: none;
            .sheet1 {
                top: -39px;
                right: 42px;
            }
            .sheet2 {
                left: -53px;
                bottom: 74px;
            }
        }
        .img-inner-shape {
            width: 100%;
        }
    }
    .sheet-top {
        width: 200px;
    }
}

@include large-devices {
    .accommodation-form {
        margin-top: 150px;
        .col {
            width: 60%;
            margin: 0 auto;
            padding-bottom: 0;
        }
        .sheet {
            right: -147px;
            top: -71px;
        }
        .mask-cover {
            width: auto;
            bottom: -296px;
            left: -28px;
            ul {
                top: 16%;
            }
        }
        .image-shape1 {
            top: -381px;
            right: 0;
            left: -550px;
        }
        .image-shape2 {
            right: -475px;
            bottom: -309px;
        }
        .image-shape1,
        .image-shape2 {
            display: block;
        }
    }
    .col-2 {
        .flexslider {
            .sheet1 {
                top: -102px;
                right: -39px;
                // top: -49px;
                // right: -9px;
            }
            .sheet2 {
                left: -66px;
                bottom: 63px;
                img {
                    width: 100%;
                }
            }
            .sheet1 {
                width: 295px;
                height: 198px;
            }
        }
    }
}

@include extra-large {
    .col-2 {
        .sheet-top {
            img {
                top: -51px;
            }
        }
    }
    .sheet-text {
        width: 165px;
        height: 182px;
        top: 12px;
        left: -140px;
        font-size: 16px;
        span:nth-of-type(2) {
            margin-top: 15px;
        }
        .text {
            left: 65px !important;
            top: -218px;
        }
        small {
            font-size: 16px;
            line-height: 0.1;
            color: $green-blue;
        }
        span {
            font-size: 35px;
            line-height: 1.5em;
        }
    }
}

@include devices-1600 {
    .accommodation-form {
        .sheet {
            right: -291px;
            width: auto;
            top: -115px;
        }
    }
}