.sheet-top,
.sheet-text,
.sheet1,
.sheet2 {
    width: 150px;
}

.accommodation2 {
    height: 585px;
}

.block-section {
    .col-2 {
        padding-top: 0;
    }
    small {
        color: $green-blue;
    }
}
.sheet-text {
    .text {
        color: $yellow;
        span {
            font-size: 1.5em;
             line-height: 0.5em;
        }
    }
    img {
        display: none;
        
    }
}
.col-2 {
    .img-inner-shape {
        width: 320px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }
    .flexslider {
        position: relative;
        margin: 0 7%;
        .sheet1 {
        transform: rotate(-65deg);
        position: absolute;
        top: -20px;
        right: 20px;
        }
        .sheet2 {
            position: absolute;
            left: -37px;
            bottom: 58px;
            img {
                width: 50%;
            }
        }
        .sheet-left {
            position: absolute;
            right: -8%;
            top: 10%;
        }
    }
    .sheet-top{
        transform: rotate(-65deg);
        position: absolute;
        top: -10px;
        right: -11px;
    }
}

.wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    p {
        width: 80%;
        margin-top: 2%;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        border:none;
        padding: 10px;
        color: $green-blue;
        margin-top: 5px;
    }
    label {
        display: inline-block;
        vertical-align: bottom;
        width: 100%;
    }
    input[type=submit] {
        background-color: $yellow;
    }
}
@include extra-small-devices {
    .col-2 {
        .flexslider {
            .sheet1 {
                top: -32px;
            }
            .sheet2 {
                left: -54px;
               bottom: 104px;
                img {
                    width: 50%;
                }
            }
        }
    }
    .wpcf7-form {
        align-items: normal;
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            margin: 0;
            max-width: 640px;
            max-height: 425px;
            align-self: center;
        }
        .sheet-top {
            top: -44px;
            right: 30px;
        }
    }
    .sheet-text {
        position: absolute;
        width: 150px;
        height: 128px;
        top: 12px;
        left: -86px;
        img {
            display: block;
        }
        .text {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 30px;
            top: -170px;
            color: $green-blue;
            font-weight: normal;
        }
    }
   
    .wpcf7-form {
        flex-direction: row;
        p {
            width: 30%;
            margin-right: 10px;
        }
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            .sheet2 {
                left: -38px;
                bottom: 52px;
                img {
                    width: 60%;
                }
            }
            .sheet1 {
                top: -26px;

                right: 12px;
            }
        }
    }
}

@include medium-devices {
   
    .col-2 {
        .flexslider {
            align-self: none;
            .sheet1 {
                top: -39px;
                right: 42px;
            }
            .sheet2 {
                left: -53px;
                bottom: 74px;
            }
        }
        .img-inner-shape {
            width: 100%;
        }
    }
    .sheet-top {
        width: 200px;
    }
    
}

@include large-devices {
    .col-2 {
        .flexslider {
            .sheet1 {
                top: -49px;
                right: -9px;
            }
            .sheet2 {
                left: -66px;
                bottom: 63px;
                img {
                    width: 100%;
                }
            }
            .sheet1 {
                width: 295px;
                height: 198px;

            }
        }
    }

    
  
}
