.sheet-text {
    position: absolute;
    width: 150px;
    height: 128px;
    left: -60px;
    top: 39px;
    .text {
        position: relative;
        left: 11px;
        bottom: 160px;
    }
}

.accommodation2 {
    height: 585px;
}
.col-2 {
    .img-inner-shape {
        width: 320px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }
    .flexslider {
        position: relative;
        margin: 0 7%;
        .sheet1 {
            border-radius: 100% 0% 88% 9% / 58% 0% 100% 54%;
            width: 200px;
            height: 105px;
            background-color: $green-light;
            position: absolute;
            right: 0;
            transform: rotate(350deg);
            top: 0;
        }
        .sheet2 {
            position: absolute;
            left: -37px;
            bottom: 73px;
            img {
                width: 50%;
            }
        }
        .sheet-left {
            position: absolute;
            right: -8%;
            top: 10%;
        }
    }
    .sheet-top {
        border-radius: 50% 44% 67% 20% / 56% 3% 96% 3%;
        width: 190px;
        height: 190px;
        background-color: $green-light;
        position: absolute;
        top: -10px;
        right: 30px;
    }
}

@include extra-small-devices {
    .col-2 {
        .flexslider {
            .sheet1 {
                top: -14px;
            }
            .sheet2 {
                left: -54px;
                bottom: 119px;
                img {
                    width: 50%;
                }
            }
        }
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            margin: 0;
            max-width: 640px;
            max-height: 425px;
            align-self: center;
        }
        .sheet-top {
            top: -44px;
            right: 30px;
        }
    }
    .sheet-text {
        left: -44px;
        top: 15px;
    }
}

@include small-devices {
    .col-2 {
        .flexslider {
            .sheet2 {
                left: -38px;
                bottom: 52px;
                img {
                    width: 60%;
                }
            }
            .sheet1 {
                top: -16px;
                right: 75px;
            }
        }
    }
}

@include medium-devices {
    .col-2 {
        .flexslider {
            align-self: none;
        }
        .img-inner-shape {
            width: 100%;
        }
    }
}

@include large-devices {
    .col-2 {
        .flexslider {
            .sheet2 {
                left: -66px;
                bottom: 40px;
                img {
                    width: 100%;
                }
            }
            .sheet1 {
                width: 295px;
                height: 198px;
            }
        }
    }
}

// .form {
//     width: 500px;
//     height: 300px;
//     background-color: red;
// }