.section-contact {
    padding-bottom: 25px;
}

.contact {
    .wrapper {
        position: relative;
        z-index: 0;
    }
    .contact-form {
        position: relative;
        background-color: $white;
        padding: 25px 10px;
        margin: 30px auto;
        box-sizing: border-box;
            justify-content: space-around;
            label {
                color: $green-blue;
            }
            input,
            textarea {
                border: 1px solid #837d73;
                width: 100%;
                max-height: 80px;
                background-color: $grey-white;
            }
            input[type=submit] {
                background-color: $green-blue;
                color: $white;
                padding: 9px 40px;
                transition: all 0.5s;
                &:hover {
                    background-color: $blue-light;
                }
            }
        }
        strong {
            color: $green-blue;
        }
        .text {
            text-align: center;
            margin-bottom: 25px;
        }

        .sheet1,
        .sheet2 {
            position: absolute;
            width: auto;
            z-index: -1
        }
        .sheet1 {
    
            top: -64px;
            transform: rotate(-8deg);
            right: 29px;
            width: 160px;
       
        }
        .sheet2 {
            display: none;
            left: -44px;
            bottom: 83px;
            transform: rotate(-69deg);
        }
  
   
    .col-2 {
        align-items: center;
        justify-content: center;
        .contact-form {
            .wpcf7-form {
                p {
                    width: 100%;
                }
            }
        }
    }
   
   
    span,
    a {
        color: $black;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
    }
}
.google-maps {
    iframe {
        width: 100%;
        min-height: 451px;
        ;
    }
}

.contact {
    div.wpcf7-validation-errors,
    div.wpcf7-acceptance-missing {
        border: none !important;
        color: $green-light;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.contact .contact-form .wpcf7-form label {
    color: grey;
}

span.wpcf7-not-valid-tip {
    color: $green-light !important;
}

.contact .contact-form .wpcf7-form input,
.contact .contact-form .wpcf7-form textarea {
    border: 1px solid $grey;
}

.contact .contact-form .wpcf7-form input:focus,
.contact .contact-form .wpcf7-form textarea:focus {
    border: 1px solid $green-light;
}

div.wpcf7 .ajax-loader {
    transform: translate(61px, -73px);
}

@include extra-small-devices {
    .contact {
        .contact-form {
            padding: 30px 20px;
            .info {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


@include small-devices {
    .contact {
        .col-2 {
            .contact-form {
                margin: 0;
                width: 75%;
                .wpcf7-form {
                    justify-content: space-between;
                }
                .wpcf7-form p {
                    margin: 0;
                    width: auto;
                    margin-top: 7px;
                }
                p:nth-of-type(1),
                p:nth-of-type(2) {
                    width: 100%;
                }
                p:nth-of-type(3) {
                    width: 100%;
                }
                .sheet2 {
                    display: block;
                    width: auto;
                    left: -132px;
                }
                textarea {
                    width: 100%;
                }
                .info {
                   justify-content: flex-start;
                }
            }
        }
        .col-2>div:first-of-type {
            margin-right: 25px;
        }
        .text {
            text-align: left;
            // p {
            //     padding-bottom: 1.8em;
            // }
        }
    }
}

@include device-920 {
    .contact {
        .col-2 {
            .contact-form {
                p:nth-of-type(1),
                p:nth-of-type(2) {
                    width: 47%;
                }
            }
        }
        
    }
    .contact div.wpcf7-validation-errors, .contact div.wpcf7-acceptance-missing {
        margin: 0 auto;
    }
}

@include medium-devices {
    .contact {
        .contact-form {
            h4 {
                margin-top: 25px;
            }
            .sheet1 {
                // transform: rotate(-8deg);
                top: -78px;
                right: 29px;
                width: auto;
            }
            .sheet2 {
                left: -110px;
            }
            .info {
                display: block;
                left: 51%;
                transform: translate(30%, -267%);
            }
            form {
                position: relative;
            }
            div.wpcf7-validation-errors,
            div.wpcf7-acceptance-missing {
                display: block;
                position: absolute;
                bottom: -10px;
            }
        }
    }
}

@include large-devices {
    .contact {
        .contact-form {
            width: 80%;
            padding: 60px 70px 28px 80px;
            .sheet1 {
                transform: rotate(0deg);
                top: -111px;
                right: 29px;
                width: 243px;
            }
            .info {
                transform: translate(30%, -209%);
            }
        }
    }
}


@include devices-1600 {

    .contact .contact-form .info {
        transform: translate(30%, -196%);
    }
}