.section-contact {
    padding-bottom: 25px;
}

.contact {
    .wrapper {
        position: relative;
        z-index: 0;
    }
    .contact-form {
        position: relative;
        background-color: $white;
        padding: 0 10px;
        margin: 30px auto;
        box-sizing: border-box;
        .wpcf7-form {
            label {
                color: $green-blue;
            }
            input,
            textarea {
                border: 1px solid #837d73;
                width: 100%;
                max-height: 80px;
                background-color: $grey-white;
            }
            input[type=submit] {
                background-color: $green-blue;
                color: $white;
                padding: 9px 40px;
                transition: all 0.5s;
                &:hover {
                    background-color: $blue-light;
                }
            }
        }
    }
    .info {
        transform: translate(48px, -11px);
        display: block;
        a {
            padding: 25px 0;
        }
    }
    .text {
        text-align: center;
        margin-bottom: 25px;
    }
    .col-2 {
        align-items: center;
        justify-content: center;
        .contact-form {
            .wpcf7-form {
                p {
                    width: 100%;
                }
            }
        }
    }
    .sheet1,
    .sheet2 {
        position: absolute;
        width: auto;
        z-index: -1
    }
    .sheet1 {
        top: -16px;
        right: -15px;
        transform: rotate(-78deg);
    }
    .sheet2 {
        display: none;
        left: -44px;
        bottom: 83px;
        transform: rotate(-69deg);
    }
    strong {
        color: $green-blue;
    }
    span,
    a {
        color: $black;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
    }
}

.google-maps {
    iframe {
        width: 100%;
        min-height: 451px;
        ;
    }
}

.sheet1,
.sheet2 {
    width: auto !important;
    height: auto !important;
}

.contact {
    div.wpcf7-validation-errors,
    div.wpcf7-acceptance-missing {
        border: none !important;
        color: $green-light;
        transform: translate(37px, -26px);
    }
}

.contact .contact-form .wpcf7-form label {
    color: grey;
}

span.wpcf7-not-valid-tip {
    color: $green-light !important;
}

.contact .contact-form .wpcf7-form input,
.contact .contact-form .wpcf7-form textarea {
    border: 1px solid $grey;
}

.contact .contact-form .wpcf7-form input:focus,
.contact .contact-form .wpcf7-form textarea:focus {
    border: 1px solid $green-light;
}

div.wpcf7 .ajax-loader {
    transform: translate(61px, -73px);
}

@include extra-small-devices {
    .contact {
        .contact-form {
            padding: 10px 20px 10px 30px;
        }
    }
}

@include small-devices {
    .contact {
        .col-2 {
            .contact-form {
                margin: 0;
                width: 75%;
                .wpcf7-form p {
                    margin: 10px 0;
                    width: auto;
                }
                p:nth-of-type(1),
                p:nth-of-type(2) {
                    width: 100%;
                }
                p:nth-of-type(3) {
                    width: 100%;
                }
                .sheet1 {
                    top: -29px;
                }
                .sheet2 {
                    display: block;
                    left: -74px;
                }
                textarea {
                    width: 100%;
                }
            }
        }
        .col-2>div:first-of-type {
            margin-right: 25px;
        }
        .text {
            text-align: left;
        }
    }
}

@include device-920 {
    .contact {
        .col-2 {
            .contact-form {
                p:nth-of-type(1),
                p:nth-of-type(2) {
                    width: 47%;
                }
            }
            .wpcf7-form {
                justify-content: space-between;
            }
        }
    }
}

@include medium-devices {
    .contact {
        .info {
            transform: translate(163px, -71px);
        }
        .contact-form {
            h4 {
                margin-top: 25px;
            }
        }
    }
    .contact div.wpcf7-validation-errors,
    .contact div.wpcf7-acceptance-missing {
        transform: translate(-83px, -26px);
    }
}

@include large-devices {
    .contact {
        .info {
            transform: translate(198px, -71px);
        }
        .contact-form {
            width: 80%;
            padding: 60px 70px;
            .sheet1 {
                top: -49px;
                width: 300px;
            }
            .sheet2 {
                left: -97px;
            }
        }
    }
}

@include extra-large {
    .contact div.wpcf7-validation-errors,
    .contact div.wpcf7-acceptance-missing {
        transform: translate(171px, -99px);
    }
}