.landing-page {
    h1 {
        font-size: 3.875em;
        transform: none !important;
        padding-bottom: 90px;
    }
    h5 {
        text-transform: uppercase;
        padding-bottom: 1em;
        $color: $yellow;
    }
    .button {
        margin-top: auto;
        a {
            text-transform: uppercase;
            padding: 10px 30px;
        }
    }
    .col1 {
        background-image: url('images/landing1.png');
        .wrap {
            background-color: rgba(0, 66, 88, 0.3);
        }
        .button {
            a {
                color: $green-blue;
                background-color: $green-light;
            }
        }
    }
    .col2 {
        background-image: url('images/landing2.png');
        .wrap {
            background-color: rgba(167, 194, 57, 0.3);
        }
        .button {
            color: $white;
            a {
                background-color: $green-blue;
            }
        }
        h1,
        h5,
        p {
            color: $green-blue !important;
        }
    }
    .col1,
    .col2 {
        height: 600px;
        width: 100%;
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .wrap {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            >div {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h1,
        p {
            color: $white;
            padding-bottom: 90px;
        }
        h5 {
            color: $yellow;
        }
    }
}

@include small-devices {
    .landing-page {
        .col1,
        .col2 {
            .wrap {
                >div {
                    width: 70%;
                }
            }
        }
    }
}

@include extra-large {
    .landing-page {
        display: flex;
        .col1,
        .col2 {
            width: 50%;
            height: 100vh;
        }
        p,
        h1 {
            padding-bottom: 120px;
        }
    }
}