.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3.875em;
    }
    h5 {
        text-transform: uppercase;
        padding-bottom: 1em;
        $color: $yellow;
    }
    .button {
        margin-top: auto;
        a {
            text-transform: uppercase;
            padding: 10px 30px;
        }
    }
    .col1,
    .col2 {
        height: 125vh;
        >div {
            display: flex;
            flex-direction: column;
            align-items: stretch; 
            p {
                margin-bottom: 60px;
            }
        }
        h5 {
            color: $green-blue;
        }
    }
    .col1 {
        background-image: url('images/landing1.png');
        background-repeat: no-repeat;
        background-position: center;
        .wrap {
            background-color: rgba(50, 50, 50, 0.7);
            width: 100%;
            height: 100%;
            padding: 20% 10% 0 10%;
            box-sizing: border-box;
        }
        h1,
        p {
            color: $white;
        }
        h5 {
            color: $yellow;
        }
        .button {
            a {
                color: $green-blue;
                background-color: $green-light;
            }
        }
    }
    .col2 {
        background-image: url('images/landing2.png');
        background-repeat: no-repeat;
        background-position: center top;
        .wrap {
            background-color: rgba(167, 194, 57, 0.72);
            width: 100%;
            height: 100%;
            padding: 20% 10% 0 10%;
            box-sizing: border-box;
        }
        .button {
            color: $white;
            a {
                background-color: $green-blue;
            }
        }
    }
}

@include small-devices {
    .landing-page {
        flex-direction: row;
        .col1,
        .col2 {
            width: 50%; // height: 100vh;
            >div {
                // min-height: 500px;
            }
        }
    }
}