.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3.875em;
    }
    h5 {
        text-transform: uppercase;
        padding-bottom: 1em;
        $color: $yellow;
    }
    .button {
        margin-top: auto;
        a {
            text-transform: uppercase;
            padding: 10px 30px;
        }
    }
    .col1,
    .col2 {
        padding: 10% 6%;
        height: 70vh;
        >div {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            min-height: 450px;
            p {
                margin-bottom: 60px;
            }
        }
    }
    .col1 {
        background-color: $green-blue;
        h1,
        p {
            color: $white;
        }
        h5 {
            color: $yellow;
        }
        .button {
            a {
                color: $green-blue;
                background-color: $green-light;
            }
        }
    }
    .col2 {
        background-color: $green-light;
        .button {
            color: $white;
            a {
                background-color: $green-blue;
            }
        }
    }
}

@include small-devices {
    .landing-page {
        flex-direction: row;
        .col1,
        .col2 {
            width: 50%;
            height: 100vh;
            >div {
                min-height: 500px;
            }
        }
    }
}