.block-section {
    .location1-img {
        position: relative;
        img {
            display: block;
            margin: 0 auto 15px auto;
        }
    }
    .sheet {
        position: absolute;
        top: -28px;
        right: 62px;
        z-index: -999;
        width: 80%;
    }
}

.sheet-text-inner {
    .sheet {
        text-align: center;
        position: relative;
        margin-top: 20px;
        div {
            position: absolute;
            top: 31%;
            left: 35%;
        }
    }
}

.block-section {
    ol {
        li:before {
            content: "\2192";
            font-weight: 800;
            color: $green-blue;
            padding-left: 30px;
            padding-right: 8px;
        }
    }
}
@include small-devices {
    .block-section
     {
        .location1-img {
            div {
                img {
                    width: 45%;
                    float: right;
                } 
                img:nth-of-type(1) {
                    margin-left: 15px;            
                }
            }
            .sheet {
                position: absolute;
                top: -28px;
                right: 62px;
                z-index: -999;
                width: 65%;
            }
        }
    }
    .sheet-text-inner {
        .sheet {
            text-align: left;
            div {
                top: 31%;
                left: 19%;
            }
        }
    }
}

@include medium-devices {
    .block-section {
        .location1-img {
            .sheet {
                top: -62px;
            }
        }
    }
}
