.sub-menu {
    display: none;
}

.menuicon {
    div {
        width: 35px;
        height: 5px;
        background-color: $green-light;
        margin: 6px 0;
    }
}

a[href*="sokolcamp"]:hover {
    color: $green-light2 !important;
}

.contact {
    a[href*="facebook"],
    a[href*="instagram"],
    a[href*="twitter"],
    a[href*="tel"],
    a[href*="mailto"] {
        color: $black !important;
        &:hover {
            color: $green-blue !important;
        }
    }
    a[href*="www.sokolcamp"] {
        color: $green-blue !important;
        &:hover {
            color: $blue-light !important;
        }
    }
}

.footer,
a[href*="tel"],
a[href*="mailto"] {
    a:hover {
        color: $green-light;
    }
}

.close2 {
    display: block;
}

.menuicon2 {
    position: relative;
    z-index: 999;
    width: 54px;
    height: auto;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: $green-light;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2),
    span:nth-child(3) {
        top: 18px;
    }
    span:nth-child(4) {
        top: 36px;
    }
}

.menuicon2.open {
    span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.block {
    display: block !important;
    opacity: 0.9;
    -webkit-animation: slide-up .5s ease-in-out;
    -moz-animation: slide-up .5s ease-in-out;
}

.header {
    .menu {
        display: none;   
        opacity: 0;    
    }
}

@-webkit-keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateX(100%); }   
  100% { opacity: 0.9; -webkit-transform: translateX(0); }
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    display: none!important;
}
.wpml-ls-legacy-dropdown-click a {
    background-color: transparent!important;
}
.wpml-ls-link {
    text-align: left;
}
.lang2 {
    display: none;
    @media medium-devices {
        display: inline-flex;
    }
    .wpml-ls:after {
        content: '';
        width: 9px;
        background-image: url("images/angle-arrow-down.svg");
        background-size: 9px auto;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        right: -5px;
        top: 50%;
        height: 9px;
        margin-top: -3px;

    }
    a {
        padding: 0;
        margin: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
        }    
    } 

    .wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu, .wpml-ls-statics-shortcode_actions a {
    width: auto;
    }


}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border-top: none;
}

.header {
    background-color: transparent;
    position: relative;
    z-index: 1000;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    .wrapper {
        width: 95%;
    }
    .menu {
        overflow: none !important;
        height: 100%;
        width: 100%; 
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: $white;
        opacity: 0.8;
        transition: 0.5s;
        text-align: center;
        padding-top: 75px;
        a,
        span {
            padding: 3px 5px;
            display: block;
            color: $green-blue;
            margin: 0 auto;
            font-weight: 800;
            &:hover {
                color: $green-light;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }
        }
        a,
        span {
            font-size: 20px;
            text-transform: uppercase;
            &:hover {
                color: #006c8b;
                ;
                transition: all 0.5s;
            }
        }
    }
    .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a {
        border: none;
    }
    .wpml-ls-legacy-dropdown-click {

        margin: auto;
    }
    .wpml-ls-legacy-dropdown-click {
        width: 200px;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
        text-align: center;
        font-size: 24px;
    }
    .navmenu {
        margin-left: auto;
    } 
    .logo {
        width: 53%;
    }
    .menu-list .wpml-ls-item {
        display: inline-block;
    }
}

.wpml-ls-legacy-dropdown-click {
    a {
        background-color: $green-blue;
        border: none;
        span {
           
            font-weight: 800;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-transform: normal;
        }
        &:hover {
            background-color: $green-blue;
            span {
                color: $yellow;
            }
        }
        &:focus {
            color: $green-light;
        }
    }
}

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language:hover>a,
.wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a:focus {
    background-color: $green-blue;
    transition: all 0.5s;
    span {
        color: $green-light;
    }
}

.header-bottom {
    position: relative;
    overflow: hidden;
    background-color: $green-blue;
    color: $white;
    .image-shape1 {
        position: absolute;
        bottom: -1px;
        left: -165px;
    }
    .image-shape2 {
        position: absolute;
        left: 892px;
        bottom: 116px;
        transform: rotate(-30deg);
    }
    h1,
    h3 {
        padding-top: 5%;
        color: $green-light;
        text-align: left;
        vertical-align: center;
        text-transform: uppercase;
    }
    h3 {
        width: 70%;
        text-transform: none;
    }
}

.wpml-ls-statics-shortcode_actions {
    .wpml-ls-current-language>a,
    .wpml-ls-current-language>a:focus {
        background-color: none;
        color: $green-light;
        border: none;
    }
    .wpml-ls-current-language>a:hover {
        color: $green-light;
    }
}

.wpml-ls-legacy-dropdown-click {
    a {
        span {
            color: $white;
        }
    }
    a.wpml-ls-item-toggle:after {
        border: solid $white;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: -1px;
        transform: rotate(1deg);
        top: calc(44% - 0.175em);
        &:hover {
            color: red;
        }
    }
}

.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    color: $green-light;
    background: #eee;
}

.footer {
    overflow: hidden;
    .wrapper {
        position: relative;
        padding: 0 65px;
    }
    a {
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.13;
        letter-spacing: normal;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .shape1 {
        position: absolute;
        left: -109px;
        z-index: 1;
        transform: rotate(-172deg);
        top: -5px;
        width: auto;
    }
    .shape2 {
        width: auto;
        position: absolute;
        right: -12px;
        bottom: 81px;
        z-index: 1;
        transform: rotate(-161deg);
    }
    .last {
        display: flex;
        flex-direction: column;
    }
    ul {
        padding-bottom: 20px;
        li:last-child {
            margin-top: auto;
            color: $white;
        }
    }
    .wpml-ls-menu-item {
        display: none;
    }
}

.lang {
    background-color: $green-blue;
    color: $white;
    font-weight: 800;
    border: none;
    margin-left: 10px;
    option {
        color: $white;
        border: none;
    } 
}

.wpml-ls-legacy-dropdown-click .wpml-ls-item {
    text-align: left;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border-top: none;
}

@include extra-small-devices {
    .header-bottom {
        .image-shape1 {
            left: -74px;
        }
    }
}

@include device-576 {
    .footer {
        .wrapper {
            padding: 0px;
        }
        .col {
            flex-direction: row;
            align-items: normal;
            justify-content: space-around;
            flex-wrap: nowrap;
            ul {
                border: none;
                width: 33.33%;
                margin: 15px;
            }
        }
        .shape2 {
           
            bottom: -49px;
            right: -144px;
            transform: rotate(-185deg);
        }
        .shape1 {
           
            left: -152px;
            top: -64px;
        }
    }
}

@include small-devices {
    .header-bottom {
        .image-shape1 {
            left: 300px;
        }
    }
    .footer {
        .wrapper {
            span {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
            }
        }
        .col {
            ul {
                width: auto;
            }
        }
    }
}

@include device-920 {
    .footer {
        .shape2 {
            right: -115px;
        }
        .shape1 {
            left: -110px;
        }
    }
}

@include medium-devices {
   
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        .close {
            display: none;
        }
        .logo {
            width: auto;
        }
        .menuicon2 {
            display: none;
        }
        .menu-list {
            display: flex;
            flex-direction: row;
            .wpml-ls-item {
                display: none;
            }
        }
        .lang2 {
            display: inline-flex;
            padding-left: 20px;
            .wpml-ls-statics-shortcode_actions {
                background: transparent;
                border-color: none;
            }
        }
        .menu {
            opacity: 1;
            width: 100% !important;
            transition: none !important;
            display: flex;
            flex-direction: row;
            position: inherit;
            background-color: transparent;
            padding-top: 0;
            >li {
                padding: 0 10px;
            }
            a,
            span {
                font-size: 18px;
                color: $white;
                background-color: transparent;
                &:hover {
                    color: $green-light;
                    background-color: transparent;
                }
            }
            li.wpml-ls-current-language > a span,
            li.current-menu-item a {
                color: $green-light;
            }
            a {
                font-size: 18px !important;
                text-transform: uppercase;
                transition: all 0.5s;
                &:hover {
                    color: $green-light;
                    transition: all 0.5s;
                }
            }
        }
        .navmenu {
            margin-left: 0;
            display: flex;
            align-items: center;
        }
        .wpml-ls-legacy-dropdown-click {
            width: auto; // padding-left: 36px;
}
    }
    .wpml-ls-legacy-dropdown-click a:hover,
    .wpml-ls-legacy-dropdown-click a:focus,
    .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
        background: transparent !important;
    }
}

@include large-devices {
    .header {
        .menu-list {
            a {
                padding: 25px;
            }
        }
    }
}