.menuicon {
    div {
        width: 35px;
        height: 5px;
        background-color: $green-light;
        margin: 6px 0;
    }
    margin-right: 15px;
}

.header {
    background-color: $green-blue;
    position: relative;
    z-index: 1000;
    padding: 2% 2% 2% 0;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-list {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: $white;
        opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
        text-align: center;
        padding-top: 100px;
        a {
            padding: 8px 5px;
            display: block;
            color: $green-blue;
            &:hover {
                color: $green-light;
                -webkit-transition: all 0.5s;
                /* Safari */
                transition: all 0.5s;
            }
        }
    }
    .close {
        display: none;
        a {
            color: $green-blue;
            text-align: right;
            font-size: 26px;
            z-index: 999;
            position: absolute;
            transition: 0.5s;
            right: 60px;
            top: 60px;
            padding: 20px;
        }
    }
    .menu-list {
        display: flex;
        flex-direction: column;
    }
    .navmenu {
        margin-left: auto;
    }
    #lang {
        padding: 30px 0;
        font-size: 18px;
    }
    .logo {
        img {
            width: 180px;
            height: 40px;
        }
    }
}

.wpml-ls-legacy-dropdown-click {
    a {
        background-color: $green-blue;
        border: none;
        span {
            font-size: 18px;
            font-weight: 800;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        &:hover {
            background-color: $green-blue;
            span {
                color: $yellow;
            }
        }
        &:focus {
            color: $green-light;
        }
    }
}

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language:hover>a,
.wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a:focus {
    background-color: $green-blue;
    transition: all 0.5s;
    span {
        color: $green-light;
    }
}

.header-bottom {
    position: relative;
    overflow: hidden;
    background-color: $green-blue;
    color: $white;
    .image-shape1 {
        position: absolute;
        bottom: -1px;
        left: -165px;
    }
    .image-shape2 {
        position: absolute;
        // left: 817px;
        // bottom: -18px;
        left: 892px;
        bottom: 116px;
        transform: rotate(-30deg);
    }
    h1,
    h3 {
        padding-top: 5%;
        color: $green-light;
        text-align: left;
        vertical-align: center;
        text-transform: uppercase;
    }
    h3 {
        width: 70%;
        text-transform: none;
    }
}

.wpml-ls-statics-shortcode_actions {
    .wpml-ls-current-language>a,
    .wpml-ls-current-language>a:focus {
        background-color: $green-blue;
        color: $white;
        border: none;
    }
}

.wpml-ls-legacy-dropdown-click {
    a {
        span {
            color: $white;
            ;
        }
    }
    a.wpml-ls-item-toggle:after {
        border: solid $white;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(44deg);
        top: calc(44% - 0.175em);
    }
}

.footer {
    overflow: hidden;
    .wrapper {
        position: relative;
    }
    a {
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.13;
        letter-spacing: normal;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .shape1 {
        position: absolute;
        left: -79px;
        z-index: 1;
        transform: rotate(-172deg);
        top: 11px;
    }
    .shape2 {
        position: absolute;
        right: -54px;
        bottom: -18px;
        z-index: 1;
        transform: rotate(-161deg);
    }
    .last {
        display: flex;
        flex-direction: column;
    }
    ul {
        border-bottom: 1px solid rgba(211, 211, 211, 0.34);
        padding-bottom: 5px;
        li:last-child {
            margin-top: auto;
            color: $white;
        }
    }
}

#lang {
    background-color: $green-blue;
    color: $white;
    font-weight: 800;
    border: none;
    margin-left: 10px;
    option {
        color: $white;
        border: none;
    }
    select:focus {
        border: 2px solid red;
    }
}

@include extra-small-devices {
    .header-bottom {
        .image-shape1 {
            left: -74px;
        }
    }
}

@include device-576 {
    .footer {
        .col {
            flex-direction: row;
            align-items: normal;
            justify-content: space-between;
            flex-wrap: nowrap;
            ul {
                border: none;
                width: auto;
                margin: 15px;
            }
        }
        .shape2 {
            right: -89px;
            bottom: -18px;
            transform: rotate(-185deg);
        }
        .shape1 {
            left: -104px;
            top: -64px;
        }
    }
}

@include small-devices {
    .header-bottom {
        .image-shape1 {
            left: 300px;
        }
    }
    .footer {
        .wrapper {
            span {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
            }
        }
        .col {
            ul {
                width: auto;
            }
        }
    }
}

@include device-920 {
    .footer {
        .shape2 {
            right: -145px;
        }
        .shape1 {
            left: -128px;
        }
    }
}

@include medium-devices {
    .header {
        .close {
            display: none;
        }
        .menuicon {
            display: none;
        }
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
        }
        .menu-list {
            width: 100% !important;
            transition: none !important;
            display: flex;
            flex-direction: row;
            position: inherit;
            background-color: transparent;
            padding-top: 0;
            li {
                padding: 0 10px;
            }
            a {
                color: $white;
            }
        }
        .navmenu {
            margin-left: 0;
            display: flex;
            align-items: center;
        }
        .logo {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@include large-devices {
    .header {
        .menu-list {
            a {
                padding: 25px;
            }
        }
    }
}

@include extra-large {
    // .news-list {
    //     .wrapper {
    //         // padding-bottom: 125px;
    //     }
    //     article {
    //         // margin: 20px 10px;
    //     }
    // }
}