.news {
    p {
        padding: 10px 10px;
    }
}

.news1 {
    h3 {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;
        color: $green-light;
    }
}

.news-content {
    padding-top: 3%;
    padding-bottom: 7%;
    .content {
        background-color: $white;
        img {
            padding-bottom: 20px;
            display: block;
            margin: 0 auto;
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 60px;
    .page-numbers {
        border: 1px solid $grey;
        padding: 3px 14px;
        font-size: 16px;
        font-weight: normal;
        margin: 0 5px;
        color: $green-blue;
        &:hover {
            background-color: $green-blue;
            color: $white;
        }
    }
    .current {
        background-color: $green-blue;
        color: $white;
    }
}

@include small-devices {
    .news1 {
        h3 {
            padding-top: 60px;
        }
    }
}

@include medium-devices {
    .news {
        p {
            padding: 10px 160px;
        }
    }
    .news-content {
        .content {
            max-width: 954px;
            margin: 0 auto;
        }
    }
    .news1 {
        h3 {
            padding-top: 100px;
        }
    }
}