.border-image {
    background-color: $green-blue;
    overflow: hidden;
    height: 250px;
    width: 100%;
    .wrapper {
        position: relative;
    }
    .img-shape1 {
        img {
            display: block;
        }
    }
    .img-shape1:nth-of-type(1) {
        position: absolute;
        left: -215px;
    }
    .img-shape1:nth-of-type(2) {
        position: absolute;
        left: -32px;
        top: -142px;
        transform: rotateX(-184deg);
    }
    .img-shape1:nth-of-type(3) {
        position: absolute;
        top: -57px;
        left: 270px;
    }
    .img-shape1:nth-of-type(4) {
        position: absolute;
        bottom: -337px;
        left: 650px;
    }
    .img-shape1:nth-of-type(5) {
        position: absolute;
        top: -123px;
        left: 660px;
    }
    .img-shape1:nth-of-type(6) {
        bottom: -398px;
        position: absolute;
        left: 1001px;
        transform: rotate(159deg);
    }
    .img-shape1:nth-of-type(7) {
        position: absolute;
        left: 1130px;
        top: -50px;
    }
}