.border-image {
    background-color: $green-blue;
    overflow: hidden;
    height: 270px;
    width: 100%;
    .wrapper {
        position: relative;
    }
    .img-shape1 {
        img {
            display: block;
        }
    }
    .img-shape1:nth-of-type(1) {
        position: absolute;
        left: -58px; 
        top: -15px;
    }
    .img-shape1:nth-of-type(2) {
        position: absolute; 
    
        left: 7px;
        top: -154px;
        transform: rotateX(-184deg);
    }
    .img-shape1:nth-of-type(3) {
        position: absolute;
        top: -29px; 
        left: 270px;
        display: none;
    }
    .img-shape1:nth-of-type(4) {
        position: absolute;
        bottom: -359px; 
        left: 704px;
    }
    .img-shape1:nth-of-type(5) {
        position: absolute;
        top: -123px;
        left: 660px;
    }
    .img-shape1:nth-of-type(6) {
        bottom: -427px;
        position: absolute;
        left: 1057px;
        transform: rotate(109deg);
    }
    .img-shape1:nth-of-type(7) {
        position: absolute;
        left: 1130px;
        top: -36px;
    }
}

@include extra-small-devices {
    .border-image {
        .img-shape1:nth-of-type(1) {
            left: -87px
        }
    }
}

@include small-devices {
    .border-image {
        .img-shape1:nth-of-type(3) {
            display: block;
            left: 356px;
        }
    }
}

@include medium-devices {
    .border-image {
        .img-shape1:nth-of-type(1) {
            left: -163px;
        }
        .img-shape1:nth-of-type(3) {
            left: 332px;
        }
    }
}