//base styles
*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: $green-blue;
    font-size: 14px;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
}

body {
    background-color: $grey-white;
}

a {
    background: transparent;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    &:hover {
        color: $green-light;
    }
}

ul,
li {
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 1em;
    background: transparent;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: normal;
    color: $green-blue;
}

h1,
h2,
h3,
h4,
h6 {
    font-weight: 800;
    color: $green-blue;
    padding: 0 0 1.2em 0;
}

h3 {
    text-transform: uppercase;
}

h4 {
    a {
        color: $green-blue;
    }
    padding: 10px 10px 10px 0;
    letter-spacing: 2.5px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    
}

h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: 3.4px;
}

// 36px
h2 {
    font-size: 2.25em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.22;
    letter-spacing: 3.4px;
    font-weight: 800;    
}

h3 {
    font-size: 2.125em;
    text-transform: uppercase;
    line-height: 1.29;
    letter-spacing: 3.4px;
}
// 32px
h4 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: left;
}

h5 {
    font-size: 1.5em;
    color: $yellow;
    font-weight: 800;
    letter-spacing: 2.2px; 
    text-transform: uppercase;
}

h6 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size: 1em;
    padding-bottom: 1.5625em;
    color: $green-blue;
    line-height: 1.56;
    &:last-of-type {
        padding-bottom: 0;
    }
}

a {
    font-size: 1.125em;
    text-decoration: none;
    &:hover {
        -webkit-transition: all 0.5s; /* Safari */
        transition: all 0.5s;
        color: $green-light;
    }
}

img {
    max-width: 100%;
    vertical-align: bottom;
    width: auto;
    height: auto;
}

strong {
    font-weight: 800;
    color: $white;
}
small {
    font-size: 14px;
    color: $white;
}

label {
    color: $white;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
}
video {
    width: 100%    !important;
    height: auto   !important;
    z-index: 2;
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

// button
.section1,
.section2 {
    a { 
        color: red;
        text-transform: uppercase;
        padding: 3% 5% 0% 0;
        display: inline-block;
        font-weight: normal;
        color: $green-light;
        font-size: 1em;
        &:after {
            content: "\2192";
            padding-left: 10px;
        }
    }
}


video,
iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    z-index: 999;
}
.videoWrapper {
    max-width: 640px;
    height: 420px;
    z-index: 999;
}
// .videoWrapper iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
//     height: 100%;
//     border: none;
// }
// .padding {
//     padding: 5% 0;
// }

@include small-devices {
    *,
    body,
    html {
        font-size: 16px;
    }
}

@include extra-large {
    .wrapper {
        max-width: 1300px;
    }
}

.ytp-title-enable-channel-logo .ytp-title {
    display: none!important;
}

.ytp-chrome-top, .ytp-chrome-bottom {
    display: none;
}
.html5-video-player a  {
    display: none;
}


