//base styles
*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: $black;
    font-size: 96%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
}

body,
html {
    background-color: $grey-white;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2.125em;
    padding-bottom: 1.6em;
}

h4 {
    font-size: 2em;
    padding-bottom: 0.8em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.2em;
}

p {
    font-size: 14px;
}

a {
    background: transparent;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    &:hover {
        color: $green-light;
    }
}

ul,
li {
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 1em;
    background: transparent;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: normal;
    color: $green-blue;
}

h1,
h2,
h3,
h4,
h6 {
    font-weight: 800;
    color: $green-blue;
    // padding-bottom: 0.5em; 
    position: relative;
    z-index: 1;
}

h3 {
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: 3.4px;
    color: $green-light;
    text-transform: uppercase;
    padding-top: 10px;
}

// 36px
h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.22;
    letter-spacing: 3.6px;
    font-weight: 800;
    padding-bottom: 1em;
}

h3 {
    text-transform: uppercase;
    line-height: 1.29;
    letter-spacing: 3.4px;
}

// 32px
h4 {
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
}

h5 {
    color: $yellow;
    font-weight: 800;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-bottom: 0.8em;
}

h6 {
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
}

p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63; 
    margin-bottom: 1.3em;
    color: $black;
    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
    &:hover {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: $green-light;
    }
}

img {
    max-width: 100%;
    vertical-align: bottom;
    width: auto;
    height: auto;
}

strong {
    font-weight: 800;
    color: $white;
}

small {
    font-size: 0.8333em;
    color: $white;
}

label {
    color: $white;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
}

video {
    width: 100% !important;
    height: auto !important;
    z-index: 2;
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.hero11,
.section2 {
    a {
        text-transform: uppercase;
        display: inline;
        font-weight: normal;
        color: $green-light;
        font-size: 1em;
        padding: 25px 25px 25px 0;
        &:after {
            content: "\2192";
            padding-left: 10px;
        }
        &:hover {
            color: $green-light2;
            transition: all 0.5;
        }
    }
}

video {
    width: 100% !important;
    height: auto !important;
}

iframe {
    width: 100%;
    height: 345px;
    border: none;
}

.videoWrapper {
    max-width: 620px;
    max-height: 345px;
    z-index: 999;
    margin: 45px auto 0 auto;
}

// .videoWrapper {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	padding-top: 25px;
// 	height: 0;
// }
// .videoWrapper iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }
.youtube_codegena {
    background-color: transparent !important;
    position: relative;
    padding-bottom: 49.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.news-list,
.section2,
.section5,
.section6,
.section8,
.contact,
.footer,
.block-section,
.background-img-shapes,
.accommodation-form {
    padding: $extra-small 0;
}

.section3 {
    padding-top: $extra-small;
}

#content {
    >.block-section:first-of-type {
        padding: 0 0 $extra-small 0;
    }
}

@include small-devices {
    .news-list,
    .section2,
    .section5,
    .section6,
    .section8,
    .contact,
    .footer,
    .block-section,
    .background-img-shapes,
    .accommodation-form {
        padding: $small 0;
    }
    .background-img-shapes {
        padding: $small 0;
    }
    .section3 {
        padding-top: $small;
    }
    .section2 {
        margin-top: 20px;
    }
    #content {
        >.block-section:first-of-type {
            padding: 10px 0 $small 0;
        }
    }
}

@include device-576 {
    h2 {
        padding-bottom: 1.2em;
    }
}

@include small-devices {
    .wrapper {
        width: 90%;
    }
}

@include medium-devices {
    *,
    body,
    html {
        font-size: 98%;
    }
    p {
        font-size: 16px;
    }
    .news-list,
    .section2,
    .section5,
    .section6,
    .section8,
    .contact,
    .footer,
    .block-section,
        {
        padding: $medium 0;
    }
    .section3 {
        padding-top: $medium;
    }
    .section2 {
        margin-top: 40px;
    }
    #content {
        >.block-section:first-of-type {
            padding: 20px 0 $medium 0;
        }
    }
}

@include large-devices {
    .block-section {
        width: 90%;
        margin: 0 auto;
    }
    .news-list,
    .section2,
    .section5,
    .section6,
    .section8,
    .contact,
    ,
    .footer,
    .block-section {
        padding: $large 0;
    }
    .background-img-shapes,
    .accommodation-form {
        padding: $large 0;
    }
    .section3 {
        padding-top: $large;
    }
    #content {
        >.block-section:first-of-type {
            padding: 40px 0 $large 0;
        }
    }
}

@include extra-large {
    *,
    body,
    html {
        font-size: 100%;
    }
    .wrapper {
        max-width: 1300px;
    }
    .news-list,
    .section2,
    .section5,
    .section6,
    .section8,
    .contact,
    .footer,
    .block-section {
        padding: $extra-large 0;
    }
    .background-img-shapes,
    .accommodation-form {
        padding: $extra-large 0;
    }
    .section3 {
        padding-top: $extra-large;
    }
    #content {
        >.block-section:first-of-type {
            padding: 120px 0 $extra-large 0;
        }
    }
}

.ytp-title-enable-channel-logo .ytp-title {
    display: none !important;
}

.ytp-chrome-top,
.ytp-chrome-bottom {
    display: none;
}

.html5-video-player a {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@include devices-1600 {
    .block-section {
        width: 90%;
        margin: 0 auto;
    }
    .background-img-shapes {
        padding: 90px 0;
    }
}