// front page slider

.section6 {
    .flex-caption {
        background-color: $white;
        p {
            width: 90%;
            background-color: $white;
        }
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        left: 0;
        bottom: 0;
        justify-content: center;
    }
    
    .flex-direction-nav .flex-prev {
        right: 0px !important;
    }
    
    .flexslider {
        .slides {
            img {
                width: auto !important;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                left: -50px;
            }
        } 
    }   
}

@include small-devices {
    
    .section6 {
        position: relative;
        z-index: 999;
        .flexslider {
            margin: 60px;
            .flex-caption {
                p {
                    width: 70%;
                }
                display: flex;
                flex-wrap: wrap;
                padding: 2%;
                left: 0;
                bottom: 0;
                justify-content: center;
            }
        }
    }
}

.col-2 {
    .flex-direction-nav .flex-prev {
        left: 0px;
        top: 103%;
        opacity: .8;  
      }
      .flex-direction-nav .flex-next {
        opacity: .8;
        text-align: right;
        left: 50px;
        margin: -50px 0 0;
      }
      .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 0.7;
        left: 0;
      }
      .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
      }
      .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 0.7;
        left: 50px;
      }
      .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
      }

      .flex-direction-nav {
          a {
              position: relative;
            margin: 10px 0 10px 0;
          }
      }
      .flex-control-nav {
          display: none;
      }
}