// front page slider
.flexslider {
    background-color: transparent;
    img {
        max-height: 426px;
    }
}
#fancybox-outer {
    background-color: transparent!important;
    box-shadow: none!important;
}
#fancybox-content {
    border-color: transparent!important;
}
.number-slides {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    span.current-slide,
    .zero1 {
        color: $green-blue;
    }
    span.total-slides,
    .zero2,
    .line  {
       color: $grey;
    }
    .line {
        width: 10px;
        display: inline-block;
        margin: 2px 10px;
        border-top: 1px solid $grey;
    }
}

.section6 {
    .flex-caption {
        background-color: $white;
        position: relative;
        max-height: 725px;
        >div {
            width: 90%;
            background-color: $white;
            position: relative;
            top: -113px;
            margin-bottom: 50px;
        }
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        justify-content: center;
        align-items: center;
    }
    .flex-control-nav {
        bottom: 21px;
        z-index: 999;
    }
    .flex-direction-nav {
        position: absolute;
        left: 42%;
        bottom: 52px;
        .flex-prev {
            right: 0px !important;
            margin: -49px -16px;
        }
        .flex-next {
            margin: -49px;
        }
    }
    .flexslider {
        .flex-caption {
            margin-top: 150px;
        }
        .slides {
            .border-radius {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                width: 210px;
                height: 210px;
            }
            img {
                width: auto;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: 0 auto;
            }
        }
    }
}

.flex-next:hover {
    color: $green-light;
}

@include extra-small-devices {
    .section6 {
            .flex-direction-nav {
                left: 47%;
        }

    }
}
@include small-devices {
    .section6 {
        position: relative;
        z-index: 999;
        .flexslider {
            margin: 0 60px;
            .flex-caption {
                // >div {
                //     width: 75%;
                // }
                display: flex;
                flex-wrap: wrap;
                padding: 2%;
                left: 0;
                bottom: 0;
                justify-content: center;
            }
        }
    }
}

@include devices-1100 {
    .section6 {
        .flexslider {
            .flex-caption {
                margin: 0 78px 0 114px;
                z-index: -1;
                >div {
                    width: 60%;
                    margin-top: 0;
                    top: 0;
                    left: -60px;
                }
            }
            .slides {
                .border-radius {
                    margin: 0 auto;
                    position: relative;
                    left: -135px;
                    top: 0;
                }
            }
        }
        .flex-direction-nav {
            position: static;
            left: 0;
            .flex-prev {
                margin: -20px 0 0;
            }
            .flex-next {
                margin: -50px 0 0;
            }
        }
    }
}

@include extra-large {
    .section6 {
        .flexslider {
            .flex-caption {
                margin: 0 60px 0 75px;
                >div {
                    width: 71%;
                }
            }
            .slides {
                .border-radius {
                    left: -124px;
                }
            }
        }
    }
}

.col-2 {
    .flex-direction-nav .flex-prev {
        left: 0px;
        top: 0%;
        opacity: .8;
    }
    .flex-direction-nav .flex-next {
        opacity: .8;
        text-align: right;
        left: 50px;
        margin: -50px 0 0;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 0.7;
        left: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 0.7;
        left: 50px;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flex-direction-nav {
        a {
            position: relative;
            margin: 10px 0 10px 0;
        }
    }
    .flex-control-nav {
        display: none;
    }
}