.section2 {
    background-color: $green-blue;
    .wrapper {
        div:nth-of-type(2){
            order: 3;
        }  
        div:nth-of-type(1) {
            margin: 10% 0 5% 0;
        }
        div:nth-of-type(3){
            margin: 10% 0 5% 0;
        }
    }
    p {
        color: $white;
    }
    image {
        width: auto;
        height: auto;
    }
    svg {
        width: 711px;
        height: 465px;
    }
}

.shape1,
.shape2,
.shape3,
.shape4 {
    position:absolute;
    z-index: -1;
    width: 80px;
}
.section3 {
    position: relative;
    overflow: hidden;
    .wrapper {
        text-align: center;
    }
   .shape1 {
    top: 87px;
    left: -48px;
   }
   .shape2 {
    top: 11px;
    left: 30px;
   }
   .shape3 {
    top: 1px;
    right: -59px;
   }
   .shape4 {
    right: 1px;
    bottom: 82px;
    
   }
}

.section5 {
    background-color: $green-blue;
    overflow: hidden;
    min-height: 500px;
    position: relative;
    p {
        color: $white;
    }
    .image-shape2 {
        display: none;
    }
}

.section7 {
    .shape1 {
        top: -80px;
        z-index: 1;
        left: 476px;
        transform: rotate(69deg);
    }
}
.section-contact {
    background-color: $green-blue;
    position: relative;
    overflow: hidden;
    .col-2 {
        justify-content: space-between;
        align-items: stretch;
        padding: 0 10% 10% 10%;
    }
    li,h2 {
        color: $white;
    }
    .shape2 {
        bottom: -40px;
        transform: rotate(-89deg);
        left: 314px;
        z-index: 2;
    }
 
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   img {
       padding:15px;
   }
}
@include device-576 {
    .shape1,
    .shape2,
    .shape3,
    .shape4 { 
        width: 150px;
    }
    .section3 {
        .shape1 {
            top: 94px;
            left: -86px;
        }
        .shape3{
            top: -53px;
            right: -108px;
        }
    }
    .section-contact {
        .shape2 {
            transform: rotate(-89deg);
            left: 738px;
            z-index: 2;
            bottom: -150px;
        }
    }
}

@include small-devices {
    .section5 {
        div:nth-of-type(2) {
            width: 50%;
            margin-left: auto;
            padding: 50px;
        }
    }
}

@include device-920 {
    .section2 {
        .wrapper {
            div:nth-of-type(2) {
                order: inherit;
            }
        }
    }
    .shape1,
    .shape2,
    .shape3,
    .shape4 { 
        width: auto;
    }
    .section3 {
        .shape1 {
            top: 217px;
            left: -86px;
        }
        .shape2 {
            top: 107px;
            left: 142px;
        }
    }
    .section-contact {
        .shape1 {
            top: -371px;
            left: 454px;
            transform: rotate(57deg);
        }
    }
    .section7 {
        .shape1 {
            top: -120px;
            z-index: 1;
            left: 495px;
            transform: rotate(69deg);
        }
    }
   
}

@include medium-devices {
    .section3 {
        .shape4 {
            bottom: 176px;            
            right: 30px;
        }
    }
    .section5 {
            .image-shape2 {
                display: block;
            }
    }
}