.location-gallery {
    .location1-img {
        position: relative;
        img {
            margin-bottom: 15px;
            display: block;
        }
       
    }
    .sheet {
        position: absolute;
        top: -28px;
        right: 62px;
        z-index: -999;
        width: 80%;
    }
}

.sheet-text-inner {
    .sheet {
        text-align: center;
        position: relative;
        margin-top: 20px;
        div {
            position: absolute;
            top: 31%;
            left: 35%;
        }
    }
}

@include small-devices {
    .location-gallery {
        .location1-img {
            div {
                img {
                    width: 45%;
                    float: right;
                } 
                img:nth-of-type(1) {
                    margin-left: 15px;            
                }
               
            }
            .sheet {
                position: absolute;
                top: -28px;
                right: 62px;
                z-index: -999;
                width: 65%;
            }
        }
    }
    .sheet-text-inner {
        .sheet {
            text-align: left;
            div {
                top: 31%;
                left: 19%;
            }
        }
    }
}

@include medium-devices {
    .location-gallery {
        .location1-img {
            .sheet {
                top: -62px;
            }
        }
    }
}

// .location1-img {
//     position: relative;
//     display: flex;
//     div {
//         width: 50%;
//         img {
//             margin-bottom: 20px;
//         }
//     }
//     .sheet {
//         position: absolute;
//         top: -111px;
//         right: 62px;
//         z-index: -999;
//     }
//     div:last-child {
//         margin-left: 20px;
//     }
// }
// }
// .location2 {
//     .inner {
//         max-width: 640px;
//         margin: 0 auto;
//         h3 {
//             color: $white;
//         }
//     }
// }
// .location3 {
//     .twocol {
//         align-items: normal;
//     }
//     .sheet2 {
//         width: 315px;
//         height: 200px;
//         border-radius: 95% 0% 100% 0% / 71% 31% 100% 54%;
//         background-color: $green-light;
//         ul {
//             transform: translate(50%, 50%);    
//             transform: translate(35%, 30%);
//         }
//     }
// }