.menuicon {
    div {
        width: 35px;
        height: 5px;
        background-color: $green-light;
        margin: 6px 0;
    }
}

.header {
    background-color: $green-blue;
    position: relative;
    z-index: 1000;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-list {
        display: none;
        a {
            padding: 8px 5px;
        }
    }
    .navmenu {
        margin-left: auto;
        display: flex;
        align-items: center;
        .lang {
            margin-left: 20px;
        }
    }
    #lang {
        padding: 30px 0;
        font-size: 18px;
    }
    .logo {
        img {
            width: 180px;
            height: 40px;
        }
    }
}

.header-bottom {
    position: relative;
    overflow: hidden;
    background-color: $green-blue;
    color: $white;
    .image-shape1 {
        position: absolute;
        bottom: -75px;
        left: -165px;
        transform: rotateY(178deg);
    }
    .image-shape2 {
        position: absolute;
        left: 817px;
        bottom: -18px;
        transform: rotate(-30deg);
    }
    h1,
    h3 {
        padding-top: 5%;
        color: $green-light;
        text-align: left;
        vertical-align: center;
        text-transform: uppercase;
    }
    h3 {
        width: 70%;
        text-transform: none;
    }
}

// FRONT PAGE SECTIONS
.section1 {
    h3 {
        color: $green-light;
        text-transform: none;
    }
    .video {
        text-align: center;
    }
}

// .section2 {
//     div:first-child,
//     div:last-child {
//         padding: 30px 0;
//     }
//     img {
//         display: block;
//         margin: 0 auto;
//     }
//     .shape {
//         background: url('/images/clip.svg');
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center; 
//         background-color: green;
//     }
// }
// .section3 {
//     .wrapper {
//         position: relative;        
//         text-align: center;
//         padding: 50px 0;
//     }
//     .green-sheet {
//         width: 210px;
//         height: 138px;
//         right: -5%;
//         bottom: 10%;
//         z-index: -999;
//     }
//     .yellow-sheet {
//         transform: rotate(50deg);
//         width: 166px;
//         height: 108px;
//         top: -2px;
//         left: 0;
//         z-index: -999;
//     }
// }
.news-list {
    position: relative;
    h4 {
        // padding:  15px;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// .section5 {
//     overflow: hidden;
//     .wrapper {
//         position: relative;
//         overflow: hidden;
//         display: flex;
//         justify-content: space-around;
//         flex-wrap: wrap;
//         align-items: center;
//         p {
//             padding: 30px 0;
//             width: 30%;
//         }
//         img {
//             width: 30%;
//         }
//     }
//     .shape1 {
//         background-image: url('/images/section5.png');
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center;
//         width: 495px;
//         height: 387px;
//         position: relative;
//         left: -20%;
//     }
//     .yellow-sheet {
//         position: absolute;
//         bottom: 0;
//         right: 40px;
//     }
// }
.section6 {
    background-color: $grey-white;
    .wrapper {
        padding: 50px 0;
        position: relative;
    }
    .flexslider {
        z-index: 1000;
    }
    .green-sheet,
    .yellow-sheet {
        z-index: 1000;
        width: 190px;
        height: 193px;
    }
    .yellow-sheet {
        bottom: 80px;
        left: 50px;
    }
    .green-sheet {
        right: 50px;
        bottom: 50%;
        transform: rotate(180deg);
    }
}

// .section7 {
//     .wrapper {
//         @include flex-column;
//         padding: 50px 0;
//         h2 {
//             color: $white;
//         }
//         ul {
//             padding-bottom: 50px;
//             span {
//                 color: $green-light;
//             }
//         }
//     }
//     .form {
//         width: 300px;
//         height: 300px;
//     }
// }

// .partners {
//     .wrapper {
//         div {
//             display: flex;
//             flex-wrap: wrap;
//             flex-direction: row;
//             justify-content: space-around;
//             img {
//                 margin-bottom: 20px;
//             }
//         }
//     }
// }

.footer {
    position: relative;
    overflow: hidden;
    padding: 7%;
    background-color: $green-blue;
    p {
        color: $white;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yellow-sheet {
        position: absolute;
        left: -100px;
        transform: rotate(-46deg);
    }
    .green-sheet {
        position: absolute;
        right: -120px;
        bottom: 0;
        transform: rotate(72deg);
    }
}

#lang {
    background-color: $green-blue;
    color: $white;
    font-weight: 800;
    border: none;
    margin-left: 10px;
    option {
        color: $white;
        border: none;
    }
    select:focus {
        border: 2px solid red;
    }
}

@include extra-small-devices {
    .header-bottom {
        .image-shape1 {
            left: -74px;
        }
    }
    // .partners {
    //     .wrapper {
    //         div {
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: space-around;
    //             img {
    //                 padding: 0;
    //             }
    //         }
    //     }
    // }
}

@include device-576 {
    .footer {
        .col {
            margin: 0 50px;
            flex-direction: row;
            align-items: normal;
            justify-content: space-between;
            div {}
        }
    }
}

@include small-devices {
    .header-bottom {
        .image-shape1 {
            left: 300px;
        }
    } // .section2 {
    //     .wrapper {
    //         display: flex;
    //         justify-content: space-between;
    //         .buttom {
    //             margin-top: auto;
    //         }
    //     }
    //     position: block;
    // }
    // .section7 {
    //     .wrapper {
    //         flex-direction: row;
    //         justify-content: space-around;
    //         align-items: start;
    //     }
    //     .form {
    //         background-color: lightcyan;
    //         width: 600px;
    //         height: 300px;
    //     }
    // }
    .footer {
        .wrapper {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: stretch;
            span {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
            }
        }
    } // .section3 {
    //     .green-sheet {
    //         width: 210px;
    //         height: 138px;
    //         right: 2%;
    //         bottom: 10%;
    //         z-index: 1000;
    //     }
    //     .yellow-sheet {
    //         transform: rotate(50deg);
    //         width: 166px;
    //         height: 108px;
    //         top: 10%;
    //         left: 5%;
    //         z-index: 1000;
    //     }
    // }
}

@include medium-devices {
    .header {
        .close {
            display: none;
        }
        .menuicon {
            display: none;
        }
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
        }
        .menu-list {
            display: block;
            display: flex;
            flex-direction: row;
            li {
                padding: 0 10px;
            }
        }
        .navmenu {
            margin-left: 0;
            display: flex;
            align-items: center;
        }
        .logo {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .col-4 {
        article {
            margin: 20px 65px;
        }
    }
    // .section6 {
    //     background-color: $grey-white;
    //     .wrapper {
    //         padding-bottom: 80px;
    //     }
    // }
    // .section7 {
    //     .form {
    //         width: 600px;
    //         height: 300px;
    //     }
    // }
}

@include large-devices {
    .header {
        .menu-list {
            a {
                padding: 25px;
            }
        }
    }
}

@include extra-large {
    .col-4 {
        article {
            padding: 0px;
        }
    }
    .news-list {
        .wrapper {
            padding-bottom: 125px;
        }
        article {
            margin: 20px 10px;
        }
    }
}